<!DOCTYPE html>
<html>

<head> 
  <meta charset="utf-8">
  <title>Hello World!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="game_home.css" />
  <script>
    var vec="";
    function Ajax(index){
        $.ajax({
        url: '/game/result',       // postTest 주소로
        async: true,            // 동기화 - 서버에서 반응이 올때까지 기다림
        type: 'POST',           // POST 방식으로
        data: {
          test: index  // 텍스트필드에 입력한 값을 test라는 이름으로 보냄
        }
        //dataType: 'json'
      });
    }
    function any(num, index){
      vec+="/"+index;
      var a=document.getElementById("div"+num);
      var b=document.getElementById("div"+(num+1));
      a.style.display="none";
      b.style.display="block";
      var a=document.getElementById("div"+num);
    }
    function any2(index){
      vec+="/"+index;
      Ajax(vec);
    }
  </script>
</head>

<body>
  <div class="box" id="div1">
    <text id="tex1">Q1.</text><br>
    <text id="tex2">대표 카트를 지정할 때</text>
    <button id="btn" onClick="any(1,1)">가장 좋은 신규 카트로 전시한다.</button>
    <button id="btn" onClick="any(1,2)">추억의 카트로 전시한다.</button>
  </div>

  <div class="box" id="div2" style="display:none">
    <text id="tex1">Q2.</text><br>
    <text id="tex2">3....2.....1 GAME START</text>
    <button id="btn" onClick="any(2,1)">부스터를 사용하여 치고나간다.</button>
    <button id="btn" onClick="any(2,2)">선두의 뒤에서 마지막 역전을 노린다.</button>
  </div>

  <div class="box" id="div3" style="display:none">
    <text id="tex1">Q3.</text><br>
    <text id="tex2">스피드 전에서 중요하게 생각하는 것</text>
    <button id="btn" onClick="any(3,1)">부스터 갯수</button>
    <button id="btn" onClick="any(3,2)">부스터 길이</button>
  </div>

  <div class="box" id="div4" style="display:none">
    <text id="tex1">Q4.</text><br>
    <text id="tex2">팀전을 하는 경우</text>
    <button id="btn" onClick="any(4,1)">1등이 우선! 혼자 치고 나가기</button>
    <button id="btn" onClick="any(4,2)">팀 승리가 우선! 전략적인 방법 세우기</button>
  </div>

  <div class="box" id="div5" style="display:none">
    <text id="tex1">Q5.</text><br>
    <text id="tex2">현재 1등을 잡기위해</text>
    <button id="btn" onClick="any(5,1)">아이템을 사용하여 격추한다.</button>
    <button id="btn" onClick="any(5,2)">부스터를 사용하여 역전한다.</button>
  </div>

  <div class="box" id="div6" style="display:none">
    <text id="tex1">Q6.</text><br>
    <text id="tex2">나는 카트를 볼 때</text>
    <button id="btn" onClick="any(6,1)">성능이 우선이다.</button>
    <button id="btn" onClick="any(6,2)">외형이 우선이다.</button>
  </div>

  <div class="box" id="div7" style="display:none">
    <text id="tex1">Q7.</text><br>
    <text id="tex2">넥슨 캐쉬가 생겼다.</text>
    <button id="btn" onClick="any2(1); location.href='game/result'">유료 카트를 구매한다.</button>
    <button id="btn" onClick="any2(2); location.href='game/result'">다른 게임(피파, 메이플)에 투자</button>
  </div>

</body>
</html>