<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World!</title>
    <!--
    <link rel="stylesheet" href="/css/master.css" >
        -->
</head>
  <body>
    <h1>유저 정보 출력</h1><br>
    <script>
    </script>
        <span class="aid">USER ID<%= aid %></span><br>
        <span class="name">NAME<%= name %></span><br>
        <span class="level">LEVEL<%= level %></span>

  </body>
</html>