<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main_home.css"/>
</head>
<body>
    <img id="logo" src="image/logo.png">
    <A href= "https://kart.nexon.com/Main/Index.aspx" target="_blank">공식 홈페이지 바로가기</A>
    <div id="div1">
        <button id="btn1" onClick="location.href='game'"> <img src="image/btn1.png"></button>
        <button id="btn2" onClick="location.href='inf'"> <img src="image/btn2.png"></button>
    </div>
</body>


</html>