<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="main_home.css" />
</head>

<body>
    <img id="logo" src="metadata/image/logo.png">
    <A id="link" href="https://kart.nexon.com/Main/Index.aspx" target="_blank">공식 홈페이지 바로가기</A>
    <div id="ent_frame">
        <div id="select_div">
            <button id="btn1" onClick="location.href='test'"> <img src="metadata/image/btn1.png">
                <br><text id="test">성향 테스트</text></button>
            <button id="btn2" onClick="location.href='search'"> <img src="metadata/image/btn2.png">
                <br><text id="search">전적 검색</text></button>
        </div>
        <div id="main_div">
            <div id="notice_div">
                <img src="metadata/image/notice.png">
                <table id="table">
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?noticearticlesn=136121"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 12월 토스 1.5% 무제한 캐시백 이벤트</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?noticearticlesn=136116"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 2021 카트라이더 리그 수퍼컵 승부예측 이벤트</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?noticearticlesn=136107"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 넥슨 서비스 이용약관 변경 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?n4pageno=1&noticearticlesn=136105"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 12/9(목) 넥슨 정기점검 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?n4pageno=1&noticearticlesn=136104"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 레벨업 보상 수령 오류 관련 보상 신청 방법 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?n4pageno=1&noticearticlesn=136100"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 12/8(수) PAYCO 결제 서비스 점검 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?n4pageno=1&noticearticlesn=136099"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> (조기종료)12/7(화) 임시점검 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com/Kart/News/Notice/view.aspx?n4pageno=1&noticearticlesn=136096"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 12/6(월) NH카드 결제 한도 변경 안내</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="ranking_div">
                <img src="metadata/image/ranking.png">
                <table id="table">
                    <tr>
                        <img src="metadata/image/menu.png">
                    </tr>
                    <tr>
                        <td id="ranktd"><img src="metadata/image/rank1.png"></td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=사랑해김도영&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">사랑해김도영</a></td>
                        <td>쓰담쓰담</td>
                        <td>2533</td>
                    </tr>
                    <tr>
                        <td id="ranktd"><img src="metadata/image/rank2.png"></td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=엉랑로퍼&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">엉랑로퍼</a></td>
                        <td> </td>
                        <td>2508</td>
                    </tr>
                    <tr>
                        <td id="ranktd"><img src="metadata/image/rank3.png"></td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=예쁜라명0035&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">예쁜라명0035</a></td>
                        <td>Benecia</td>
                        <td>2431</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">4</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=컴퓨떠&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">컴퓨떠</a></td>
                        <td>Rebye</td>
                        <td>2412</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">5</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=개같이사망&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">개같이사망</a></td>
                        <td>Squard</td>
                        <td>2328</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">6</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=HaSeoJin&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">HaSeoJin</a></td>
                        <td> </td>
                        <td>2305</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">7</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=MysTic종현w&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">MysTic종현w</a></td>
                        <td>MysTic</td>
                        <td>2294</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">8</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=좡원&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">좡원</a></td>
                        <td> </td>
                        <td>2255</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">9</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=CabinAntt&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">CabinAntt</a></td>
                        <td>Cabin</td>
                        <td>2255</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">10</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=도모인수&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">도모인수</a></td>
                        <td>도마다찌길드</td>
                        <td>2252</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>