<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="main_home.css" />
</head>

<body>
    <img id="logo" src="metadata/image/logo.png">
    <A id="link" href="https://kart.nexon.com/Main/Index.aspx" target="_blank">공식 홈페이지 바로가기</A>
    <div id="ent_frame">
        <div id="select_div">
            <button id="btn1" onClick="location.href='test'"> <img src="metadata/image/btn1.png">
                <br><text id="test">성향 테스트</text></button>
            <button id="btn2" onClick="location.href='search'"> <img src="metadata/image/btn2.png">
                <br><text id="search">전적 검색</text></button>
        </div>
        <div id="main_div">
            <div id="notice_div">
                <img src="metadata/image/notice.png">
                <table id="table">
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135941"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 유령 배틀팀 등장 이벤트 당첨 라이더 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135932"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 11/18(목) 같이하기 오류 수정을 위한 임시점검 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135926"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 2021 카트라이더 리그 수퍼컵 승부예측 이벤트 보상 지급 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135916"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> (수정) 11/18(목) 넥슨 정기점검 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135914"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 11/18(목) 보안센터 점검 및 U-OTP 서비스 종료 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135908"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> [수정] 11/15(월) 넥슨 전화 서비스 오류 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135906"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 2021 신한은행 Hey Young 카트라이더 리그 수퍼컵 개막 안내</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135905"
                                id="notice">
                                <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30"
                                    height="17" alt="공지"> 운영정책 위반 라이더 제재 안내</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="ranking_div">
                <img src="metadata/image/ranking.png">
                <table id="table">
                    <tr>
                        <img src="metadata/image/menu.png">
                    </tr>
                    <tr>
                        <td id="ranktd"><img src="metadata/image/rank1.png"></td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=멋진샌박주장&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">멋진샌박주장</a></td>
                        <td>두두카클럽</td>
                        <td>3331</td>
                    </tr>
                    <tr>
                        <td id="ranktd"><img src="metadata/image/rank2.png"></td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=병수욤&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">병수욤</a></td>
                        <td>TeamAox</td>
                        <td>3254</td>
                    </tr>
                    <tr>
                        <td id="ranktd"><img src="metadata/image/rank3.png"></td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=쑹턔&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">쑹턔</a></td>
                        <td> </td>
                        <td>3056</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">4</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=현수쿨쿨&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">현수쿨쿨</a></td>
                        <td>Blossom</td>
                        <td>3001</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">5</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=지쵸민파&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">지쵸민파</a></td>
                        <td>FreeSky</td>
                        <td>2934</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">6</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=AF노준현&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">AF노준현</a></td>
                        <td>두두카클럽</td>
                        <td>2918</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">7</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=챵현&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">챵현</a></td>
                        <td>OneQ</td>
                        <td>2913</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">8</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=다함께갑시다&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">다함께갑시다</a></td>
                        <td> </td>
                        <td>2904</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">9</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=AttackXiaoGu&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">AttackXiaoGu</a></td>
                        <td>TCCstar</td>
                        <td>2903</td>
                    </tr>
                    <tr class="rline">
                        <td id="ranktd">10</td>
                        <td><a href="https://kart.nexon.com/Garage/Main?strRiderID=재혁Zzz&maskGameCode_Group=73985"
                                onclick="window.open(this.href,'','width=700, height=600, scrollbars=yes'); return false;"
                                id="notice">재혁Zzz</a></td>
                        <td>두두카클럽</td>
                        <td>2901</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>