<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main_home.css"/>
</head>
<body>
    <img id="logo" src="image/logo.png">
    <A id="link" href= "https://kart.nexon.com/Main/Index.aspx" target="_blank">공식 홈페이지 바로가기</A>
    <div id="div1">
        <button id="btn1" onClick="location.href='game'"> <img src="image/btn1.png"></button>
        <button id="btn2" onClick="location.href='inf'"> <img src="image/btn2.png"></button>
    </div>
    <div id="div2">
        <div id="title">
            <img src="image/notice.PNG">
            <table id="table">
                <tr>
                    <td class="line">
                        <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135941" id="notice">
                        <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30" height="17" alt="공지"> 유령 배틀팀 등장 이벤트 당첨 라이더 안내</a>
                    </td>
                </tr>
                <tr>
                    <td class="line">
                        <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135932" id="notice">
                        <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30" height="17" alt="공지"> 11/18(목) 같이하기 오류 수정을 위한 임시점검 안내</a>
                    </td>
                </tr>
                <tr>
                    <td class="line">
                        <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135926" id="notice">
                        <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30" height="17" alt="공지"> 2021 카트라이더 리그 수퍼컵 승부예측 이벤트 보상 지급 안내</a>
                    </td>
                </tr>
                <tr>
                    <td class="line">
                        <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135916" id="notice">
                        <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30" height="17" alt="공지"> (수정) 11/18(목) 넥슨 정기점검 안내</a>
                    </td>
                </tr>
                <tr>
                    <td class="line">
                        <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135914" id="notice">
                        <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30" height="17" alt="공지"> 11/18(목) 보안센터 점검 및 U-OTP 서비스 종료 안내</a>
                    </td>
                </tr>
                <tr>
                    <td class="line">
                        <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135908" id="notice">
                        <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30" height="17" alt="공지"> [수정] 11/15(월) 넥슨 전화 서비스 오류 안내</a>
                    </td>
                </tr>
                <tr>
                    <td class="line">
                        <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135906" id="notice">
                        <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30" height="17" alt="공지"> 2021 신한은행 Hey Young 카트라이더 리그 수퍼컵 개막 안내</a>
                    </td>
                </tr>
                <tr>
                    <td class="line">
                        <a href="https://kart.nexon.com:443/Kart/News/Notice/view.aspx?noticearticlesn=135905" id="notice">
                        <img src="https://ssl.nexon.com/s2/game/kart/v2/community/ico_notice.gif" width="30" height="17" alt="공지"> 운영정책 위반 라이더 제재 안내</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>


</html>