body{
    background:rgb(240, 239, 239)
}
#div
{
    position: relative;
    width: 1200px;
    height: 200px;
    left:50%;
    margin:0px 0px 0px -600px;
    float:left;
}
#emblem
{
    position:relative;
    width:120px;
    height:120px;
    box-shadow: 2px 2px 2px rgb(166, 166, 166); 
    border:2px solid rgb(166, 166, 166);
    float:left;
}
#name
{
    position:relative;
    width:400px;
    height:120px;
    top:4%;
    left:3%;
}
#s_home
{
    position:relative;
    width:100%;
}
#title
{
    font-family: 'Nanum Gothic';
    font-size:large;
    font-weight:bold;
}
#resu
{
    position: relative;
    width: 1700px;
    height: 1100px;
    margin: 0 auto;
    top:250px;
}
#most
{
    position: relative;
    width: 400px;
    height: 800px;
    left:6%;
    float:left;
}
#imgId
{
    vertical-align: middle;   
}
#nick
{
    font-family: 'Nanum Gothic';
    font-size:35px;
    font-weight:bold;
}
#div1
{
    position: relative;
    width: 50%;
    height: 900px;
    left:10%;
    float:left;
}

#IMG
{
    width:80px;
    height:70px;
}
#IMG2
{
    width:100px;
    height:60px;
}
#IMG2_TEXT
{
    position: relative;
    top:5px;
}
#IMG3
{
    width:80px;
    height:60px;
}
#IMG4
{
    width:80px;
    height:60px;
}
#img3
{
    position: relative;
    width: 100%;
    height:100%;
    float:left;
}

#table
{
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align:center;
    width:100%;
}
#table_row
{
    background: white;

}
#text_ranking
{
    font-size:x-large;
    font-weight: bold;
}