/*body{
    height: 100vh;
    background-repeat : no-repeat;
    background-image: url('background.png');
    background-size: cover;
}*/
html, body{
    width: 100%;
    height: 100%;
}

#div
{
    position: relative;
    border: 1px solid black;
    width: 60%;
    height: 20%;
    line-height: 200px;
    margin: 0 auto;
    background-image: url(search_chang.png);
}
#sebo
{
    position: relative;
    border: 1px solid black;
    width: 60%;
    height: 22%;
    margin: 0 auto;
    top:2%;
}
#resu
{
    position: relative;
    border: 1px solid black;
    width: 60%;
    height: 2000px;
    margin: 0 auto;
    top:4%;
}
#most
{
    position: relative;
    border: 1px solid black;
    width: 370px;
    height: 230px;
    float:left;
}
#imgId
{
    vertical-align: middle;   
}
#nick
{
    font-size:xx-large;
    font-weight: bold;
}
#div1
{
    position: relative;
    width: 65%;
    height: 100%;
    float:right;
    background-color:seashell;
}
#hle
{
    position: relative;
    top:8%;
    width: 60%;
    height:3%; 
    margin: 0 auto;
}
#div2
{
    position: relative;
    width: 100%;
    height: 2%;
    background-color:seashell;
}

#fordiv
{
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 120px;
}
#IMG
{
    position:relative;
    width:85%;
    height:70%;
    top:20%;
    left:7%;
}
#tet1
{
    position: relative;
    border: 1px solid black;
    width: 8%;
    height:100%;
    float:left;
}
#tet2
{
    position: relative;
    border: 1px solid black;
    width: 10%;
    height:100%;
    float:left;
}
#tet3
{
    position: relative;
    border: 1px solid black;
    width: 20%;
    height:100%;
    float:left;
}
#tet4
{
    position: relative;
    border: 1px solid black;
    width: 25%;
    height:100%;
    float:left;
}
#img3
{
    position: relative;
    width: 100%;
    height:100%;
    float:left;
}

#tet5
{
    position: relative;
    border: 1px solid black;
    width: 15%;
    height:100%;
    float:left;
}
#tet6
{
    position: relative;
    border: 1px solid black;
    width: 10%;
    height:100%;
    float:left;
}
#tet7
{
    position: relative;
    border: 1px solid black;
    width: 10%;
    height:100%;
    float:left;
}
